<%= provide(:title, "动态") %>
<div class="container workspace simple-stack simple-stack-transition">
  <div class="page page-root">
    <div class="page-inner" id="page-events">
      <%= render @events %>
    </div>
  </div>
</div>