<%= provide(:title, "动态") %>
<h1>用户动态</h1>
<div class="row">
  <div class="col-md-6 col-md-3">
    <div id="event-main">   
      <ul>
       <%= render @events %>
      </ul>
    </div>
  </div>
</div>