<div class="header">
    <h1 class="logo">
        <a href="javascript:;" class="link-team-menu">
            <span class="name"><%= current_user.default_team.name || "Tower" %></span>
            <i class="twr twr-caret-down"></i>
        </a>
    </h1>

    <ul class="nav">
        <li class="" id="nav-project">
            <a href="#">项目</a>
        </li>
        <li class="active" id="nav-events">
            <%= link_to '动态', events_page_path %>
        </li>
        <li class="" id="nav-calendar">
            <a href="#">日历</a>
        </li>

            <li class="" id="nav-week">
                <a href="#">周报</a>
            </li>

        <li class="" id="nav-members">
            <a href="#">团队</a>
        </li>
        <li class="" id="nav-me">
            <a href="#">我自己</a>
        </li>
    </ul>
</div>