<div class="header">
    <h1 class="logo">
        <a href="javascript:;" class="link-team-menu">
            <span class="name">shuke0327</span>
            <i class="twr twr-caret-down"></i>
        </a>
    </h1>

    <ul class="nav">
        <li class="" id="nav-project">
            <a href="/teams/53df6d1eebd44128b27669157942d7db/projects" data-stack="" data-stack-root="">项目</a>
        </li>
        <li class="active" id="nav-events">
            <a href="/teams/53df6d1eebd44128b27669157942d7db/events" data-stack="" data-stack-root="">动态</a>
        </li>
        <li class="" id="nav-calendar">
            <a href="/teams/53df6d1eebd44128b27669157942d7db/calendars" data-stack="" data-stack-fluid="" data-stack-root="">日历</a>
        </li>

            <li class="" id="nav-week">
                <a href="/teams/53df6d1eebd44128b27669157942d7db/weekly_reports" data-stack="" data-stack-root="">周报</a>
            </li>

        <li class="" id="nav-members">
            <a href="/teams/53df6d1eebd44128b27669157942d7db/members" data-stack="" data-stack-root="">团队</a>
        </li>
        <li class="" id="nav-me">
            <a href="/members/c822723ec82a4b8a8b2df9f108fe2b4d?me=1" data-stack="" data-stack-root="">我自己</a>
        </li>

            <li>
                <a href="javascript:;" id="link-zhirenhr-dialog">知人</a>
            </li>
            <script type="text/html" id="tpl-zhiren-dialog">
  <img alt="Zhiren-notification-dialog" class="image" src="/assets/feature/zhiren-notification-dialog-34215cb8b3ccdd7a81670c6751f70099.png" />
  <div class="content">
    <h3 class="title">让人事专注于「人」事</h3>
    <p>我们最近推出了一款简单、灵活、自动化的人事资源系统 ——<b>「知人」</b>。</p>
    <p>你的 HR 还在手工录入员工档案，用 Excel 记录考勤、计算工资表，每天重复着机械的工作吗？让「知人」来搞定团队人事资源管理的各项难题吧！</p>
    <p>「知人」能够自动计算工资表，在线办理社保公积金，处理人事审批，提供多角度的员工数据分析，帮助 HR 从琐碎的日常管理工作中解放出来，专注于与「人」有关的事——人才招聘和团队服务，从而为团队创造更大的价值。</p>
  </div>
  <div class="dialog-buttons">
    <a class="btn btn-primary btn-large" href="https://c.zhirenhr.com/c/customers/new?source=tower" target="_blank">立即申请试用</a>
  </div>
